<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Booklist</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Bookstore</h1>
        </div>
        <div class="col-md-4">
            <h3>Welcome <span sec:authentication="name"></span></h3>
        </div>
        <div class="col-md-4" style="padding:20px 0">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
            </form>
        </div>
    </div>

    <a href="/addbook" class="btn btn-primary mb-3">Add Book</a>

    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Category</th>
            <th sec:authorize="hasRole('ADMIN')">Actions</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}">Book Title</td>
            <td th:text="${book.author}">Author</td>
            <td th:text="${book.price}">9.99</td>
            <td th:text="${book.category != null ? book.category.name : 'N/A'}">Category</td>
            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-xs btn-danger">Delete</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
